<<<<<<< HEAD
body {
    background-color : #E59F8B;
}
/*navbar discription*/
.menuPrincipal {
    overflow: auto;
    width : 100%;
    height : 10%;
    padding : 10px;
    background-color : #702611;
    text-align: center;
    position : fixed;
}

.menuPrincipal a {
    color : white;
    text-align : center;
    padding : 40px;
    font-size : 30px;
    font-style : italic;
    text-decoration: none;
}

.menuPrincipal a:hover {
    background-color : #E3532A;
}
.menuPrincipal a.logo-a:hover {
     background-color : #702611;
}

.img-logo {
    width : 100px;
    height : 70px;
}

/*Carousel discription*/
.carousel{
    width : 100%;
    position : relative;
    margin : auto;
}

.slide{
    display : none;
}
=======
body {
    background-color : #E59F8B;
}
/*navbar discription*/
.menuPrincipal {
    overflow: auto;
    width : 100%;
    height : 10%;
    padding : 10px;
    background-color : #702611;
    text-align: center;
    position : fixed;
}

.menuPrincipal a {
    color : white;
    text-align : center;
    padding : 40px;
    font-size : 30px;
    font-style : italic;
    text-decoration: none;
}

.menuPrincipal a:hover {
    background-color : #E3532A;
}
.menuPrincipal a.logo-a:hover {
     background-color : #702611;
}

.img-logo {
    width : 100px;
    height : 70px;
}

/*Carousel discription*/
.carousel{
    width : 100%;
    position : relative;
    margin : auto;
}

.slide{
    display : none;
}
>>>>>>> cf1b8c488120ba9853f05053775b410daaa92d85
